.navbar {
    width: 100%;
    overflow: visible;
    background-color: var(--nav-bg);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-inner {
    width: 100%;
    overflow: visible;
    margin: auto;
    display: flex;
    gap: 50px;
}

/* Logo */
.logo-block {
    width: 15%;
    text-align: center;
}

.logo-block img {
    width: 200px;
    height: 100%;
    
}

.site-title {
    font-size: 20px;
    color: #0a5cff;
}

.top-bar {
    width: 80%;
    height: 40px;
    background-color: #00A4A3;
    color: #f4ebeb;
    font-weight: 600;
    padding: 12px 50px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.top-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.top-info img {
    width: 18px;
}

/* Social */
.social-links {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #f4ebeb;
    font-size: 15px;
    transition: all .3s ease;
}

.social-links a:hover {
    transform: translateY(-6px);
}

/* menu */
.menu-header {
    overflow: visible;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 18px 0px;
}

.nav-menu {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: var(--sec-color);
    font-family: var(--head-font);
    font-size: 17px;
    text-transform: capitalize;
    transition: all .3s ease;
}

.nav-menu p {
    color: var(--sec-color);
    font-family: var(--head-font);
    font-size: 17px;
    text-transform: capitalize;
    transition: all .3s ease;
    cursor: pointer;
}

.nav-menu a:hover {
    transform: translateY(-4px);
}

.nav-menu p:hover {
    transform: translateY(-4px);
}

/* Dropdown */
.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10000;
}

.dropdown > a {
    color: #f4ebeb;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 0;
    display: inline-block;
}

.dropdown i {
    margin: 0;
    font-size: 14px;
}

/* Dropdown Menu */
.dropdown-menu {
    overflow: hidden;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: var(--bg-prim);
    display: flex;
    flex-direction: column;
    min-width: 230px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 50;
}

/* Show dropdown when parent or dropdown is hovered */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    padding: 12px 20px;
    color: var(--prim-color);
    font-weight: 500;
    text-decoration: none;
    transition: none; /* no background change */
}

.dropdown-menu a:hover {
    transform: translateY(0px);
    background-color: #cee3e3;
}

/* Button */
.header-button {
    width: 30%;
    text-align: right;
    margin-right: 20px;
}

.appointment-btn {
    background: #00A4A3;
    color: #f4ebeb;
    padding: 16px 18px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: all .3s ease;
}

.appointment-btn:hover {
    background-color: var(--prim-hover);
}