.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #444;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* highlight */
.slide-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  padding-left: 140px;
  text-align: left;
  background: #003D4D;
  background: linear-gradient(90deg, rgba(0, 61, 77, 0.53) 0%, rgba(0, 61, 77, 0.4) 35%, rgba(0, 212, 255, 0) 100%);
}

.overlay-text {
  position: absolute;
  top: 60%;
  left: 23%;
  transform: translate(-40%, -50%);
}

.overlay-text span{
  font-family: var(--head-font);
  color: aliceblue;
}

.overlay-text h1{
  font-family: var(--head-font);
  color: aliceblue;
}



/* Main Section */
.find-doctor-section {
  padding: 50px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: var(--bg-sec);
}

/* Container */
.find-doctor-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Title */
.find-doctor-title {
  font-size: 26px;
  font-weight: 700;
  color: #1a2763;
  margin-bottom: 25px;
}

/* Form */
.find-doctor-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

/* Dropdowns */
.field-group select {
  width: 250px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  color: #333;
  background: #fafafa;
  transition: border-color 0.3s ease;
}

.field-group select:focus {
  border-color:50%;
  left: 50%;
  outline: none;
}

/* Button */
.find-doctor-btn {
  background: #005bb5;
  color: #fff;
  padding: 12px 22px;
  border: none;
  border-radius: 9px;
  display: inline-flex;
  font-size: 15px;
  align-items: center;
  gap: 6px;
  transition: all .3s ease;

  
}

.find-doctor-btn:hover {
      background-color:#00A4A3;

}

.content-wrapper {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.content_tittle{
  margin-left: 25px;
  
}


.content_tittle h4{
  font-family: var(--head-font);
  color: #00A4A3;


}

.content_tittle h2{
  font-family: var(--head-font);
  background-color: var();
  font-size: 22px;
  color: #005bb5;


}


/* Statistics */

.statistics-start{
  padding: 0;
  margin: 0;
  background-color: var(--bg-sec);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.containner{
  justify-content: space-between;
  align-items: center;
  display: block;
  gap: 20px;
}

.main-icon{
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 15px 33px 15px;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  gap: 50px;
}

.icon-hospital{
  background-color: var(--highlight-hover);
  width: 250px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.counter-icon img{
  width: 70px;
  height: 70px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

}
.counter-text h2{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  color: var(--bg-prim);

}

.counter-text p{
   margin: 6px 0 0;
  font-size: 14px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  opacity: 0.9;
  color: var(--bg-prim);
}
















