.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #444;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* highlight */
.slide-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  padding-left: 140px;
  text-align: left;
  background: #003D4D;
  background: linear-gradient(90deg, rgba(0, 61, 77, 0.53) 0%, rgba(0, 61, 77, 0.4) 35%, rgba(0, 212, 255, 0) 100%);
}

.overlay-text {
  position: absolute;
  top: 60%;
  left: 22%;
  transform: translate(-50%, -50%);
}

.overlay-text span{
  font-family: var(--head-font);
  color: aliceblue;
}

.overlay-text h1{
  font-family: var(--head-font);
  color: aliceblue;
}

/* main_search*/
.main_search{
width:100%;
margin: 0%;
padding: 0%;
background-color: #003D4D;
}

.find_docter{
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}



.search_tittle{
  color: aliceblue;
  top: 60%;
  left: 22%;

}
